<li class="user-list">
  <% if user.photo %>
    <%= image_tag user.photo, alt:'user picture', class: 'user-picture' %>
  <% end %>
  <div class="user-info-container">
    <h2><%= link_to( user.name , user_path(user.id)) %></h2><br>
    <p class="user-number-of-posts" ><strong>Number of posts:</strong> <%= user.posts_counter  %></p><br>
  </div>
</li>